.container-client {
  background-color: $primary-color-one;

  .container {
    .client-man {
      .client-inner {
        color: $background-white;
        text-align: center;

        .cliend-inner-main {
          .container-text-client {
            h1 {
              font-size: 70px;
            }
          }
          .font-container {
            .font {
              display: block;
              padding: 15px 15px;
              border: 1px solid $color-muted;
              width: 70px;
              margin-top: 20px;
              // height: 50px;
              border-radius: 6px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
