@use "../../base/colors" as color;

.container-faq {
  width: 100vw;
  background-color: color.$primary-color-one;

  .container {
    .row {
      .container-faq- {
        .container-items-faq {
          cursor: pointer;
          background-color: color.$primary-color-one-light;
          border-radius: 4px;
          transition: 1s;

          .container-items {
            display: none;
          }

          &:hover {
            .container-items {
              display: block;
            }
          }
        }
      }
    }
  }
}
