@use "../../base/colors" as color;

.container-service-layout {
  background-color: color.$primary-color-one;
  width: 100vw;

  .container {
    .container-two-box {
      .container-left {
        .row {
          padding-left: 3.5%;

          .top-container {
            background-color: color.$primary-color-two-lighter;
            width: 350px;

            .container-text {
              font-size: 12px;
              // width: 100%;
              background-color: color.$primary-color-one-light;

              h5 {
                font-size: 14px;
              }
              span {
                i {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }

      .container-right {
        .container-inner-- {
          .container-bottom {
            .container-text {
              p {
                font-size: 18px;
              }

              .bottom-container {
                .row {
                  .holder {
                    background-color: color.$primary-color-one-light;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
