@use "../base/colors" as color;

.Home-page {
  overflow: hidden;
  height: auto;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../../images/home.jpg");

  .backdrop-home {
    height: 100%;
    background-color: rgba(36, 36, 58, 0.91);

    .container {
      padding: 0 5%;

      @media only screen and (max-width: 768px) {
        padding: 0;
      }

      .row {
        @media only screen and (max-width: 768px) {
          padding: 0 5%;
        }

        .left-container {
          h2,
          h1 {
            font-weight: 700;
            font-size: 77px;
            font-family: "Times New Roman", Times, serif;
          }
          h1 {
            font-size: 60px;
          }
          span {
            font-size: 17px;
            color: color.$color-muted;
          }
        }
      }
    }
  }
}
