$background-white: white;
//
$background-white-darker: #9e9e9e;
$background-white-darker-two: #cecece;
//
$color-muted: rgb(194, 194, 194);
//
$primary-color-one: #282838;
$primary-color-one-light: rgb(47, 47, 63);
//
$primary-color-two: rgb(35, 35, 48);
$primary-color-two-lighter: rgb(36, 36, 52);
