body,
html {
  font-family: Arial, Helvetica, sans-serif;
}

.container-breadCrumbs {
  .bradcrumbs-back-drop {
    .text-center {
      font-family: "Times New Roman", Times, serif;
    }
  }
}

.container-header {
  font-family: "Times New Roman", Times, serif;
}
