@use "../base/colors" as color;

.container-footer {
  background-color: color.$primary-color-one-light;

  footer {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;

    .main-wrapper {
      height: 100%;
      overflow: hidden;
      width: 100%;

      .container-items {
        height: 100%;
        overflow: hidden;
        width: 100%;

        .container-input {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-top: 4%;
        }

        .container-main-contact {
          .row {
            .---2 {
              @media only screen and (max-width: 978px) {
                margin-top: 5%;
              }
            }

            .container-items-footer {
              .Icon {
                display: block;
                padding: 27px 7%;
                border: 1px solid color.$color-muted;
                border-radius: 100px;
                max-width: 80px;
                text-align: center;
                max-height: 150px;
              }

              .Icon- {
                display: block;
                padding: 15px 0px;
                border: 1px solid color.$color-muted;
                border-radius: 100px;
                max-width: 47px;
                text-align: center;
                font-size: 10px;
                max-height: 150px;
              }
            }
          }
        }
      }

      .container-bottom {
        width: 100%;
        border-top: 1px solid color.$color-muted;
        clear: both;
        padding: 1% 5%;
        padding-top: 3%;
        font-size: small;
        color: color.$color-muted;

        i {
          color: color.$background-white;
        }
        a {
          color: color.$color-muted;
        }
        p {
          color: color.$color-muted;
          font-size: 600;
        }
      }
    }
  }
}
