/**
* PAGES HEADER
* to use pages header first add the component to you page, then simply use bootstrap to position it
* the way you would like it to be, just like text-center and text-muted/text-white.
*/

.container-header {
  article {
    p {
      font-size: 20px;

      @media only screen and (max-width: 768px) {
        font-size: 17px;
      }
    }
    h1 {
      font-size: 60px;

      @media only screen and (max-width: 768px) {
        font-size: 50px;
      }
    }
  }
}
